<!-- Profile section -->
<div class="container">
    <p>Here you can edit your profile.</p>

    <div class="row">
        <div class="col-2">
            <div class="text-center">
                <img src="/images/no-pic.jpg" alt="profile image" class="rounded">
            </div>
        </div>
        <div class="col-10">
            <form>
                <label for="username label-form-group">Username: 
                    <input type="text" id="username" placeholder="{{username}}">
                </label> 
            </form>
        </div>
    </div>

</div>