<!-- Register section -->
<div class=" d-block mx-auto">
    <h1 class="text-uppercase mb-0">Sing up</h1>
    <div class="container rounded shadow-sm p-4">
        <form action="#/register" method="post">
            <div class="form-group row">
                <label for="email" class="col-4 col-form-label">Email</label>
                <div class="col-8">
                    <input type="text" id="email" name="email" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-4 col-form-label">Password</label>
                <div class="col-8">
                    <input type="password" id="password" name="password" class="form-control border-bottom">
                </div>
            </div>
            <div class="form-group row">
                <label for="repeatPassword" class="col-4 col-form-label">Repeat password</label>
                <div class="col-8">
                    <input type="password" id="repeatPassword" name="repeatPassword" class="form-control border-bottom">
                </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary">Sign in</button>
            <hr>
            <p>If you already have signed up, you can  <a href="#/login">sign in</a>.</p>
        </form>
    </div>
</div>